/*
Sebastian Brandt
11 Sept. 2018
*/
.mainbody
 {
	background-color: #f5f5dc;
}

.header
{
	position: sticky;
	top: 0;
	border: solid black 2px;
	background-color: #722f37;
	word-spacing: 50px;
	color: #f5f5dc;
	font-family: "Anton";	
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	height: 55px;
}
.index
{
	border-right-style: solid;
	border-left-style: solid;
	color: #f5f5dc;
	border-color: black;
	border-width: 3px;
	width: 65px;
	height: 55px;
	margin-left: 170px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
.tjanster
{
	border-right-style: solid;
	color: #f5f5dc;
	border-color: black;
	border-width: 3px;
	width: 125px;
	height: 55px;
	margin-left: -55px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
.boka
{
	border-right-style: solid;
	color: #f5f5dc;
	border-color: black;
	border-width: 3px;
	width: 75px;
	height: 55px;
	margin-left: -55px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
.kontakt
{
	border-right-style: solid;
	color: #f5f5dc;
	border-color: black;
	border-width: 3px;
	width: 115px;
	height: 55px;
	margin-left: -55px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
.hitta
{
	border-right-style: solid;
	color: #f5f5dc;
	border-color: black;
	border-width: 3px;
	width: 75px;
	height: 55px;
	margin-left: -55px;
	text-align: center;
	font-size: 30px;
	display: inline-block;
}
a
{
	color: #003366;
	text-align: center;
	font-size: 30px;
	text-shadow: 1px 1px 1px black;
}
.parkering 
{
	width: 805px;
	height: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border: solid black 1px;
}

.indextext
{
	margin-top: 20px;
	border-style: solid;
	border-color: black;
	background-color: #003366;
	width: 1000px;
	height: 3000px;
	margin-left: auto;
	margin-right: auto;
}
.welcome 
{
	font-size: 40px;
	text-align: center;
	font-family: "roboto";
	color: #722f37;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.info 
{
	text-align: center;
	font-family: "scada";
	color: #f5f5dc;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.copyright
{
	border-top: 3px solid white;
	height: 35px;
	background-color: black;
	width: 80%;
	position: relative;
	bottom: 0%;
	left: 10%;
}
.container
{
	margin: 0 auto;
	max-width: 1000px;
}
.fottext
{
	text-align: center;
	margin-top: 4px;
	width: 100%;
	font-family: "anton";
	color: white;

}
.lorem
{
	font-family: "anton";
	text-align: center;
	color: #f5f5dc;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.priser
{
	height: 100px;
	width: 30%;
	position: absolute;
	top: 68px;
	left: 0;
	right: 0;
	margin-left: 50px;
}
.prisbox
{
	padding: 10px;
}
table 
{
	padding: 10px; 
	border: 3px solid #722f37;
}
td 
{
	padding: 10px; 
	border: 3px solid #722f37;
}
.kontaktbox
{
	margin-top: 20px;
	border: solid black 2px;
	background-color: #003366;
	width: 60%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.kontaktinfo 
{
	text-align: center;
	font-family: "scada";
	color: #f5f5dc;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	font-size: 30px;
}
.rubrik
{
	width: 34.8%;
	height: 60px;
	margin-left: 32.7%;
	font-family: "anton";
	font-size: 40px;
	border: solid black 2px;
	background-color: #722f37;
	text-align: center;
	color: #003366;
	text-shadow: 1px 1px 1px black;
	margin-top: 10px;
}
.tjanst
{
	height: 100px;
	width: 50%;
	left: 0;
	right: 0;
	margin-left: 35%;
	margin-top: 3%;
}
.tjanstbox
{
	padding: 10px;
}
table 
{
	padding: 10px; 
	border: 3px solid #722f37;
}
td 
{
	padding: 10px; 
	border: 3px solid #722f37;
}
.tjanstr
{
	margin-top: 5px;
	border: dotted black 2px;
	background-color: #f5f5dc;
	width: 60%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
}
.platsbokning
{
	margin-top: 5px;
	border: dotted black 2px;
	background-color: #f5f5dc;
	width: 60%;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	font-family: "scada";
	
}
.platsbox
{
	margin-left: 37%;
}